<ngx-notifire class="{{ style }}"></ngx-notifire>
<div
    class="btn btn-success"
    (click)="onSuccess()"
>
    Success
</div>
{{notificationService.notifications.length}}
<div class="config">
    <div class="title">Config Notifire Toast</div>
    <div class="inputs">
        <div class="inputs__title"></div>
        <div class="inputs__body"></div>
        <div class="inputs__parameters">
            <div class="inputs__max-length">
                <div class="inputs__title"></div>
                <div class="inputs__body"></div>
            </div>
            <div class="inputs__divers-config"></div>
        </div>
        <div class="inputs__position"></div>
        <div class="inputs__config-booleans">
            <div class="inputs__progres-bar"></div>
            <div class="inputs__close-on-click"></div>
            <div class="inputs__pause-on-hover"></div>
            <div class="inputs__new-items-on-top"></div>
            <div class="inputs__filter-duplicates"></div>
        </div>
        <div class="inputs__max-on-screen"></div>
        <div class="inputs__max-at-position"></div>
        <div class="toast-style"></div>
    </div>
    <div class="buttons">
        <div class="buttons__classic">
            <div class="success"></div>
            <div class="info"></div>
            <div class="error"></div>
            <div class="warning"></div>
        </div>
        <div class="buttons__special">
            <div class="simple"></div>
            <div class="async"></div>
            <div class="confirm"></div>
            <div class="prompt"></div>
        </div>
        <div class="buttons_html">
            <div class="html"></div>
        </div>
        <div class="clear-all"></div>
    </div>
</div>
